body{
    background-color: #EDDDD0;
}

.container div{
    background-color: #A6CAD4;
    display: flex;
    justify-content: center;
}

.one{
    background-color: #A6CAD4;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    padding: 10px;
}

ul{
    list-style-type: none;
}

.para-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr;
}

.two{
    grid-column: 2/3;
}

.three{
    grid-row: 2/3;
}

.four{
    display: flex;
    background-color: #A6CAD4;
    justify-content: center;
}

h1{
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

nav{
    justify-content: center;
}

p{
    color:rgb(0, 0, 0)
}


