body{
    background-color: #EDDDD0;
}

.container div{
    background-color: #A6CAD4;
    display: flex;
    justify-content: center;
}

.one{
    background-color: #A6CAD4;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    padding: 10px;
}

/* ul{
    list-style-type: none;
    display: grid;
} */

.para-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr;
}

.two{
    grid-column: 2/3;
}

.three{
    grid-row: 2/3;
}

.four{
    background-color: #A6CAD4;
    text-align: center;
}

h1{
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

nav{
    justify-content: center;
}

p{
    color:rgb(0, 0, 0)
}

@media screen and (max-width:600px) {
    ul{
        list-style-type: none;
        display: grid;
        grid-column: 2/3;
        grid-row: 2/2;
        }
}

@media screen and (min-width:601px) {
    ul{
        list-style-type: none;
}