body{
    background-color: #EDDDD0;
}

.container div{
    background-color: #A6CAD4;
    display: flex;
    justify-content: center;
}

.main-headers{
    font-family: 'Montserrat', sans-serif;
    padding: 10px;

}

.para-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr;
}

.two{
    grid-column: 2/3;
}

.three{
    grid-row: 2/3;
}

.four{
    background-color: #A6CAD4;
    text-align: center;
}

h1{
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

nav a{
    justify-content: center;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

hr {
    display: grid;
    grid-column: 1/-1;
    grid-row: 3/3;
}

@media screen and (min-width:600px) {
    .main-headers{
        background-color: #A6CAD4;
        font-family: 'Montserrat', sans-serif;
        justify-content: center;
        padding: 10px;
    }

    .course{
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 2fr 2fr;
    }

    .detail{
        grid-column: 2/3;
        grid-row: 2/3;
        border-bottom: 5px;
        margin: 0px;
    }

    .term{
        grid-row: 3/4;
        grid-column: 1/2;
    }

    nav {
        justify-content: center;
        list-style-type: none;
        display: flex;        
        flex-direction: row;
    }

    nav a{
        padding: 0 10px;
    }
}